  
<mat-toolbar color="info" class="px-5">
  <span class="mr-auto text-title"><a routerLink='/home'>My Articles</a></span>
  <a mat-button routerLink='/home'> Home</a>
  <a mat-button routerLink='/submit' class="ml-5"> Submit Your Article</a>
  <a *ngIf='!loggedIn' mat-button routerLink='/register' class="ml-5"> Register</a>
  <a *ngIf='!loggedIn' mat-button routerLink='/login' class="ml-5"> Login</a>
  <a *ngIf='loggedIn' mat-button (click)="logOut()" class="ml-5"> Logout</a>
</mat-toolbar>