<section *ngIf='loggedIn; else loggedOut'>
	<div class="row text-center" *ngIf='item' >
	<div class="col-md-8 mx-auto">
	<div class="container mt-3">
		<h1 class="mt-4 py-3">{{item.title}}</h1>
		<h3 class="mt-2 ml-1s text-muted">--<em>{{item.author}}</em></h3>
		<img src={{src}}{{item.image}} alt="" class="img-fluid" width="100%"/>
	</div>
	<div >
		<div class="text-left"> 
			<div class="para p-lg-5"><p>{{item.description}}</p></div>
			<div class="para p-lg-5"><p>{{item.body}}</p></div>
		</div>
	</div>
	</div>
	
</div>


<div class="container text-right">
	<button (click)='deleteArt(item)' class="btn btn-danger mr-5">Delete This Article</button>
</div>
</section>


<ng-template #loggedOut>
  <div class="container">
  	<h1>Please login to see this article</h1>
  	
  </div>
</ng-template>