<div class="container" *ngIf='loggedIn; else loggedOut'>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      
  <h1 class="py-5">Submit your Article</h1>
  <p class="text-muted p-2">**Submit button will appear once form is filled correctly.</p>

<div fxFlex class="shadow p-5">
  <form id='form' enctype="multipart/form-data" novalidate [formGroup]="submissionForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="title" placeholder="Title" type="text" required>
            <mat-error *ngIf="formErrors.title">{{formErrors.title}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="phone" placeholder="Phone. Number" type="tel" pattern="[0-9]*" required>
            <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="email" placeholder="Email" type="email" email required>
            <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
          </mat-form-field>
    </p>
   
      <mat-form-field class="full-width">
        <textarea matInput required formControlName="description" placeholder="Your Article's description" rows=2></textarea>
        <mat-error *ngIf="formErrors.description">{{formErrors.description}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput required formControlName="body" placeholder="Your Article" rows=12></textarea>
        <mat-error *ngIf="formErrors.body">{{formErrors.body}}</mat-error>
      </mat-form-field>
      <div class="text-center">
        <input class="form-control" type="file" 
                (change)="onChange($event)">
    
    </div>
    <button *ngIf="valid"  type="submit" mat-button class="background-primary">Submit</button>
  </form>
</div>

    </div>
  </div>
</div>
<ng-template #loggedOut>
  <div class="container">
    <h1>Please login to submit this article</h1>
    
  </div>
</ng-template>