.container{
  margin-top: 30px;
}

.background-primary{
  background: var(--primary);
  border: none;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}

.full-width {
  width: 95%
}

.half-width {
  width: 45%;
  margin-right: 20px;
}

.form-size {
  width: 75%
}
