/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
}
p{
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}

h1{
  padding: 10px;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 3rem;
}
a:hover{
  color:  #e12454;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
}

a {
  color: #777;
  transition: .3s all ease;
}


h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: "Poppins", sans-serif;
  color: #000;
}
