.divider {
  width: 100px;
  height: 5px;
  background: #e12454;
}

.title-color{
  cursor: pointer;
}


.a-block{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding-top: 0;
    
    width: 100%;
    height: 100%; 
    overflow: hidden;   
}

.readmore{
  cursor: pointer;
}

h1{
  padding: 10px;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 2rem;
}

.post-entry {
  margin-bottom: 60px;
}

.post-entry .post-text .post-meta {
  color: #ccc;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
}

.post-entry .post-text h3 {
  font-size: 20px;
  color: #000000;
}

.post-entry .post-text h3 a {
  color: #000000;
}

.post-entry .post-text h3 a:hover {
  text-decoration: none;
  color: #2d71a1;
}

.post-entry .post-text .readmore {
  color: #2d71a1;
}
.container {
  z-index: 2;
  position: relative;
}
.section {
  padding: 7rem 0;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3db3c5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}