<section >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <div class="section-title">
          <h1>Articles</h1>
          <div class="divider mx-auto mb-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
      <div class="p-5 ">
        <div class="row  no-gutters mb-5 justify-content-center">
          <div class="col-md-3 m-4 shadow" *ngFor="let item of data">
            <div class="post-entry">
              <a  class="d-block mb-4 p-3">
                <img src={{src}}{{item.image}} alt="Image" width="100%" height="200px">
              </a>
              <div class="post-text p-3">
                <p class="post-meta">Today By <a class="ml-2">{{item.author}}</a></p>
                <h1><a href="http://127.0.0.1:4200/article/{{item.id}}" >{{item.title}}</a></h1>
                <p class="p-3">{{item.description}}</p>
                <p class="text-right pr-5 ml-5"><a (click)='gotoid(item)' class="readmore">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
</div>
    </section>